html {
  scroll-behavior: smooth
}

body {
  font-size: 1.8em;
}

h1 {
  text-align: center;
  margin: 20px auto auto auto;
  max-width: 700px;
  line-height: 1.6;
}

.fakeBody {
  margin: 40px auto;
  max-width: 80%;
  line-height: 1.6;
  color: rgb(36, 36, 36);
  padding: 0 10px;
}

.horizontalCentredFlex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 4%;
}

.frontPageText {
  width: 100%
}

.centeredContainer {
  margin: auto;
  width: 90%;
  height: 90%;
  padding: 10px;
  text-align: center;
}

.flexDiv {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  row-gap: 20px;
}

.cardDiv {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 20px;
  flex-basis: 600px;
  flex-grow: 1;
  flex-shrink: 1;
  max-height: 500px;
  max-width: 800px;
  padding: 10px;
  height: 400px;
  outline: 2px lightgrey solid;
  border-radius: 10px;
}

.cardText {
  flex-grow: 1;
  flex-shrink: 1;
  text-align: left;
  max-width: 100%;
}

.overlay {
  display: none;
}

.preview {
  display: block;
}

.cardDiv:hover {
  outline: 2px grey solid;
}

.cardDiv:hover > .overlay{
  display: block;
}


.cardDiv:hover > .preview{
  display: none;
}

.cardDiv:active > .overlay{
  display: block;
}


.cardDiv:active > .preview{
  display: none;
}

